<launch>
  <!-- Launch multiple instances of record_wavmp3 node with different topics and files -->

  <arg name="test_number" default="1001"/>

  <!-- Instance 1 -->
  <node pkg="ur5_control" type="record_node.py" name="record_node" output="screen" ns="mic1">
    <param name="topic" value="/mic1/audio"/>
    <param name="test_number" value="$(arg test_number)"/>
    <param name="mic" value="1"/>
  </node>

  <!-- Instance 2 -->
  <node pkg="ur5_control" type="record_node.py" name="record_node" output="screen" ns="mic2">
    <param name="topic" value="/mic2/audio"/>
    <param name="test_number" value="$(arg test_number)"/>
    <param name="mic" value="2"/> 
  </node>
  
 

</launch>
