<!-- contact.launch -->
<launch>

  <!-- Launch audio_capture for device 1 -->
  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="device" value="hw:2,0" />
    <arg name="ns" value="mic1" />
  </include>

  <!-- Launch audio_capture for device 2 -->
  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="device" value="hw:3,0" />
    <arg name="ns" value="mic2" />
  </include>
  
  
</launch>
