<launch>
  <!-- arecord -l will show available input devices, use the card number as
      the first number and the subdevice number as the second in a string
      like plughw:1,0 to specify the device.
      
      Note: group tag has the same function as specifying ns in the node, allowing instances of the same node to be started with different topics.
      -->
  <arg name="dst" default="appsink"/>
  <!-- <arg name="device" default="hw:2,0"/> -->
  <arg name="format" default="mp3"/>  
  <arg name="bitrate" default="128"/>
  <arg name="channels" default="1"/>
  <arg name="depth" default="16"/>
  <arg name="sample_rate" default="16000"/>
  <arg name="sample_format" default="S16LE"/>
  <arg name="ns" default="audio"/> <!-- namespace  -->
  <arg name="audio_topic" default="audio"/> <!-- rostopic name: e.g., namespace/audio_topic is where data is published-->
  <!--arg name="dst" default="/home/acrv/blaw_ws/src/ur5_control/src/mp3_test/tst"/-->

  <group ns="mic1">
    <node name="audio_capture" pkg="audio_capture" type="audio_capture" output="screen">
      <remap from="audio" to="$(arg audio_topic)" />
      <param name="dst" value="$(arg dst)"/>
      <param name="device" value="plughw:2,0"/> 
      <param name="format" value="$(arg format)"/>
      <param name="bitrate" value="$(arg bitrate)"/>
      <param name="channels" value="$(arg channels)"/>
      <param name="depth" value="$(arg depth)"/>
      <param name="sample_rate" value="$(arg sample_rate)"/>
      <param name="sample_format" value="$(arg sample_format)"/>
    </node>
  </group>
  
  <group ns="mic2">
    <node name="audio_capture" pkg="audio_capture" type="audio_capture" output="screen">
      <remap from="audio" to="$(arg audio_topic)" />
      <param name="dst" value="$(arg dst)"/>
      <param name="device" value="plughw:3,0"/>
      <param name="format" value="$(arg format)"/>
      <param name="bitrate" value="$(arg bitrate)"/>
      <param name="channels" value="$(arg channels)"/>
      <param name="depth" value="$(arg depth)"/>
      <param name="sample_rate" value="$(arg sample_rate)"/>
      <param name="sample_format" value="$(arg sample_format)"/>
    </node>
  </group>

  <group ns="mic3">
    <node name="audio_capture" pkg="audio_capture" type="audio_capture" output="screen">
      <remap from="audio" to="$(arg audio_topic)" />
      <param name="dst" value="$(arg dst)"/>
      <param name="device" value="plughw:4,0"/>
      <param name="format" value="$(arg format)"/>
      <param name="bitrate" value="$(arg bitrate)"/>
      <param name="channels" value="$(arg channels)"/>
      <param name="depth" value="$(arg depth)"/>
      <param name="sample_rate" value="$(arg sample_rate)"/>
      <param name="sample_format" value="$(arg sample_format)"/>
    </node>
  </group>

  <group ns="mic4">
    <node name="audio_capture" pkg="audio_capture" type="audio_capture" output="screen">
      <remap from="audio" to="$(arg audio_topic)" />
      <param name="dst" value="$(arg dst)"/>
      <param name="device" value="plughw:5,0"/>
      <param name="format" value="$(arg format)"/>
      <param name="bitrate" value="$(arg bitrate)"/>
      <param name="channels" value="$(arg channels)"/>
      <param name="depth" value="$(arg depth)"/>
      <param name="sample_rate" value="$(arg sample_rate)"/>
      <param name="sample_format" value="$(arg sample_format)"/>
    </node>
  </group>
  

</launch>
